module.exports = {
  api : {
    port : 3000,
    logfile : "logs/api.log",
    db : {
        connectionLimit : 10,
        host     : 'localhost',
        user     : 'api',
        password : 'r4ms4ysD0gs',
        database : 'olympics2016',
        debug    :  false
    },

    rules : {
      countriesPerTeam : 3,
      countriesPerPool : [1,2]
    }
  },

  scraper : {
    logfile : "logs/scraper.log",
    db : {
        connectionLimit : 10,
        host     : 'localhost',
        user     : 'scraper',
        password : 'r4ms4ysD0gs',
        database : 'olympics2016',
        debug    :  false
    },
    url : "https://en.wikipedia.org/wiki/2012_Summer_Olympics_medal_table",
    interval : 360000,
    // name in scraped site => name in fantasy impromptu
    nameCorrections : {
      "United States" : "USA"
    }
  }
};
